h1{
    font-family: 'Times New Roman', Times, serif;
    color: gray;
    font-weight: bold;
}

li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.recipeList li a{
    display: inline-block;
    color: white;
    background-color: brown;
    padding: 10px 10px;
    margin: 15px auto;
    width: 150px;
    text-align: center;
}